@import url('../scss/null.css');
@import url('../scss/default.css');



.about{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
            display: block;
            padding: 50px 0;
    }
}

.about__description{
    width: 49%;
     @media (max-width: 768px) {
        width: 100%;
}
}

.about__description-subtitle{
color: #60606e;
font-size: 14px;
font-weight: 800;
line-height: 24px;
text-align: left;
text-transform: uppercase;
margin-bottom: 15px;
}

.benefits__title{
    text-align: center;
    margin-bottom: 50px;
}

.benefits__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 768px) {
        display: block;
}
}

.benefits__item{
    width: 31%;
    padding: 15px 0;
    @media (max-width: 978px) {
        width: 50%;
    }
    @media (max-width: 768px) {
        width: 100%;
}
}

.benefits__item__img{
    display: flex;
    align-items: center;
}

.benefits__item-title{
color: #60606e;
font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 48px;
text-align: left;
text-transform: uppercase;
margin-left: 10px;
}

.staff__title{
text-align: center;
margin: 65px 0;
}

.staff__images{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.staff-img{
    width: 24%;
    margin-bottom: 15px;
    @media (max-width: 768px) {
        width: 49%;
}
}

.staff__info{
    display: flex;
    justify-content: space-between;
    padding: 35px 15px;
    background-color: #ccc;
    align-items: center;
    @media (max-width: 768px) {
       display: block;
}
}

.staff-text{
color: #60606e;
font-family: "Open Sans";
font-size: 18px;
font-style: italic;
line-height: 48px;
text-align: left;
}

.staff-btn{
width: 165px;
height: 50px;
background-color: #7beec7;
color: #ffffff;
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 48px;
text-align: center;
text-transform: uppercase;
}

.section__staff__container{
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    @media (max-width: 768px) {
        display: block;
        padding: 50px 20px;
}
}
/////////////////////////////////////
.staff__slider{
    width: 49%;
    overflow: hidden;
    @media (max-width: 768px) {
        width: 100%;
}
}
.staff__slider .slick-track{
    display: flex;
    width: 100%;
}

.staff__slider__item{
text-align: center;
}

.staff__slider-text{
    margin: 15px 0;
}

.staff__slider-btn{
width: 99px;
height: 29px;
background-color: #7beec7;
text-transform: uppercase;
color: #fff;
}
.staff__slider .slick-dots{
    display: flex;
    justify-content: center;
    
}
.staff__slider .slick-dots button{
    margin: 0 5px;
    width: 16px;
    height: 5px;
background-color: #60606e;
font-size: 0;
transition: all ease .3s;
}
.staff__slider .slick-dots li.slick-active button{
    width: 31px;
height: 5px;
    background-color: #7beec7;
    transition: all ease .3s;
}
///////////////////////////////////////
.section__staff__images{
width: 49%;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
@media (max-width: 768px) {
    width: 100%;
    margin-top: 25px;
}
}
.section__staff__slide{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.staff__images__item{
    border: 1px solid #9a9a9a;
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
}

.staff__images-img{
    width: 100%;
}

.section__staff__images .slick-track{
    display: flex;
    width: 100%;
}

.section__staff__images .slick-list{
    width: 100%;
}