@import url('../scss/null.css');
@import url('../scss/default.css');

.about__title{
    text-align: center;
    padding: 100px 0;
    @media (max-width:976px) {
        padding: 50px 0;
    }
}

.about__info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    @media (max-width:768px) {
        display: block;
    }
}

.about__info__text,
 .about__info__img{
    width: 48%;
    @media (max-width:976px) {
        width: 100%;
    }
}

.about__info__list{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    @media (max-width:520px) {
        display: block;
    }
    
}
.about__info-item{
    display: flex;
    align-items: center;
    margin: 5px 0;
    ion-icon{
        font-size: 15px;
        padding: 0;
        color: #7beec7;
        background-color:#fff;
        margin-right: 10px;
    }
}

.about__info-img{
    width: 100%;
}

.preferences__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.preferences__item{
    text-align: center;
    width: 22%;
    padding: 10px 0;
    @media (max-width:768px) {
        width: 48%;
    }
    @media (max-width:520px) {
        width: 100%;
    }
}
 .preferences__item  .title{
        margin-bottom: 0;
        background-color: #fff;
        font-size: 50px;
        padding: 0;
    }
  .preferences__item .title:before {
        content: '';
        width: 40px;
        height: 20px;
}

.item-subtitle{
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
}

///////////////////////////////



.prices__title{
    text-align: center;
    padding: 50px 0;
}

.prices{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    flex-wrap: wrap;
    @media (max-width:768px) {
        justify-content: center;
    }
}
.prices__item{
    width: 31%;
    padding: 15px;
    border-top: 5px solid #7beec7;
    margin-bottom: 10px;
    transition: all .3s;
    @media (max-width:768px) {
        width: 51%;
    }
    @media (max-width:520px) {
        width: 100%;
    }
    .about__info-list{
        margin: 30px 0;
    }
}

.prices__item-price{
    background-color: #7beec7;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    margin-top: 10px;
}

.prices__item-btn{
    margin: 10px 0;
    background-color: #7beec7;
    color: #fff;
    text-transform: uppercase;
    padding:10px;
}

.prices__item.active{
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}